<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:each="mobile:${allMobiles}">
    <span th:text="${mobile.brand}"></span>
    <span th:text="${mobile.model}"></span>
    <span th:text="${mobile.ram}"></span>
    <span th:text="${mobile.storage}"></span>
    <form th:action="@{/deleteMobile}" method="post">
        <input type="hidden" name="id" th:value="${mobile.id}">
        <input type="submit" value="Delete this mobile">
    </form>
    <br>
</div>
</body>
</html>